<ion-header>
  <ion-toolbar>
    <ion-title>Excusas Recibidas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label>
    <h1 class="sub-title">Excusas de Estudiantes</h1>
  </ion-label>


  <ion-list>
      @for (req of filteredRequestsMax; track $index) {
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="/assets/avatar.svg" />
          </ion-avatar>
            <ion-label>
              <h3>{{req.formData.Nombre}}</h3>
              <h3>{{req.formData.Edad}}</h3>
              <h3>{{req.formData.Curso}}</h3>
              <ion-img [src]="req.formData.IMG"></ion-img>
            </ion-label>
        </ion-item>
      }
  </ion-list>

</ion-content>
