<ion-header>
  <ion-toolbar>
    <ion-title>Excusas Recibidas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label>
    <h1 class="sub-title">Excusas de Estudiantes</h1>
  </ion-label>


  <ion-list>
    @for (req of filteredRequests; track $index) {
      <ion-item>
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="/assets/avatar.svg" />
        </ion-avatar>
        <ion-label>
          <h2>{{ req.typeName }}</h2>
          <p>Origen: {{ req.group_origin.name }}</p>
          <p>Detalles:</p>
          <ul>
            @for (key of objectKeys(req.formData); track $index) {
              <li>
                {{ key }}:
                <ng-container *ngIf="isImage(req.formData[key]); else textContent">
                  <ion-img [src]="req.formData[key]" alt="{{ key }}"></ion-img>
                </ng-container>
                <ng-template #textContent>
                  {{ req.formData[key] }}
                </ng-template>
              </li>
            }
          </ul>
        </ion-label>
      </ion-item>
    }
  </ion-list>



</ion-content>
